body {
  background-color: #f0f0f3;
  margin: 5em;
}

.app {
  margin: 15em;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.header {
  color: #96bf48;
}

.Search {
  background-color: white;
  padding: 1em;
}

.Search input {
  width: 100%;
}

.SearchResults {
  background-color: white;
  flex: 1;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em;
}
.Nominations {
  background-color: white;
  flex: 1;
  margin-top: 1em;
  margin-left: 1em;
  padding: 1em;
}

.searchWrapper {
  display: flex;
  grid-template-columns: 1fr 0;
}

.fa-search {
  display: grid;
  width: 40px;
  position: relative;
  left: 45px;
  font-size: 20px;
  line-height: 40px;
  z-index: 1;
}

.searchInput {
  padding-left: 30px;
  font-size: 20px;
}

.alertWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #96bf48;
  color: white;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
  margin: 10% auto;
  width: 19.5%;
}

.modal-body {
  padding: 10px 20px;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.movie {
  cursor: pointer;
}
